div.container-fluid{
	margin-left:45px;
	margin-right: 45px;
	margin-top: 20px;
	
}
.sideBand{
	height: 93vh;
	/* background-color: "rgb(35, 35, 36)";
	padding: "10px"; */
}

.optionsbtn{
	width: 15vw;
}